body {
    margin: 0; 
    padding: 0; 
    border: 0; 
}

header {
    height: 100vh;
    background-image: url('./img/header-background.png');
}

.header-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }