body, html {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: 'Archivo Narrow';
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.5rem;
    margin: 0.67em 0;
    color: #068EA5;
}

header {
    height: 100vh;
    overflow: hidden;
    margin-bottom: 7rem;
}

.header {
    width: 100%;
    margin: 0 auto;
    background: #068EA5;
    overflow: hidden;
    z-index: -1;
}

.header::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100vh;
    display: block;
    background: #068EA5;
    border-radius: 0% 0% 80% 0%;
    z-index: -1;
}

.header img {
    height: 100vh;
    width: 100%;
}

.header-center {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 33%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    filter: none !important;
}

.header .button-container {
    top: 85%;
    left: 25%;
    position: absolute;
}

.spikkels{
    width: 30%;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
}

.info{
    position: absolute;
    right: 19%;
    top: 40%;
    width: 15%;
    transform: translateY(-50%);
}

.info h1{
    color: white;
}

.info p{
    color: white;
    font-size: 1rem;
}

button {
    background: transparent;
    color: white;
    border: 5px solid white;
    padding: 1rem;
    font-weight: bold;
    transition: .2s ease;
    border-radius: 25px;
    outline: none;
}

button:hover {
    cursor: pointer;
    background: #0b7285;
}

footer button{
    position: absolute;
    transform: translateY(-50%);
    top: 55%;
    right: 1.5rem;
}

.banner {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    background-color: white;
    z-index: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-bottom: 3rem;
}

.grid-item {
    font-size: 16px;
    text-align: center;
    position: relative;
    margin: 20px;
}

.grid-container .grid-item img {
    width: 100%;
    height: 100%;
    height: auto;
    display: block;
}

.grid-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #068da500;
    transition: .2s ease;
}

.grid-item .overlay p {
    color: white;
    opacity: 100%;
    padding: 22% 0;
    transition: .2s ease;
    opacity: 0;
}

.grid-item:hover .overlay {
    background-color: #068da580;
}

.grid-item:hover p {
    opacity: 1;
}

.banner img {
    height: 40%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    margin-left: 0.7rem;
}

.banner h1 {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    line-height: 1.5rem;
    font-size: 2rem !important;
}

footer {
    background-color: #068EA5;
    width: 100%;
    height: 125px;
    position: relative;
}

footer p {
    position: absolute;
    color: white;
    text-align: center;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

footer img {
    position: absolute;
    top: 55%;
    left: 20px;
    transform: translateY(-50%);
}