body, html {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: 'Archivo Narrow';
}

header {
    height: 100vh;
    overflow: hidden;
}

.header {
    width: 100%;
    margin: 0 auto;
    background: #068EA5;
    overflow: hidden;
    z-index: -1;
}

.header::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100vh;
    display: block;
    background: #068EA5;
    border-radius: 0% 0% 80% 0%;
    z-index: -1;
}

.header img {
    height: 100vh;
    width: 100%;
}

.header-center {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 33%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    filter: none !important;
}

.banner {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    background-color: white;
    z-index: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
    font-size: 16px;
    text-align: center;
    position: relative;
    margin: 20px;
}

.grid-container .grid-item img {
    width: 100%;
    height: 100%;
    height: auto;
    display: block;
}

.grid-item .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #068da500;
    transition: .2s ease;
}

.grid-item .overlay p{
    color: white;
    opacity: 100%;
    padding: 22% 0;
    transition: .2s ease;
    opacity: 0;
}

.grid-item:hover .overlay{
    background-color: #068da580;
}

.grid-item:hover p{
    opacity: 1;
}


.banner img{
    height: 40%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

.banner h2{
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 15px;
    color: #068EA5;
}